*{
    font-family: 'Fira Code';
    animation-name: colorchange;
    animation-duration: 3s;
    animation-iteration-count: 3s;
}
body{
    background-color: rgb(31, 145, 145);
    text-align: center;
    
}
header{
    color: white;
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: rgb(19, 107, 107);
    box-shadow: 5px 5px 115px rgba(0, 0, 0, 0.644);
    border-radius: 15px;
    width: 500px;
    margin: auto;
}

.ConvertButton{
    margin-top: 1rem;
}
.ConvertButton:hover{
    box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.644);
}
.ConvertButton:active{
    box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.644);
}
.subTittle, .tittle{
    padding: 5px;
}

section{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 115px rgba(0, 0, 0, 0.644);
    padding: 10px;
    width: 600px;
    margin: auto;
}

footer{
    color: white;
    position: absolute;
    bottom:0;
    width:99%;
}
